@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playwrite+AU+SA:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.word {
  overflow: hidden;
  vertical-align: bottom;
}


@layer base {
  
  .updating-bubble {
    @apply w-[8px] h-[8px] rounded-full bg-black inline-block;
  }

}